* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
form input {
  width: 360px;
  height: 40px;
  outline: none;
  caret-color: red;
}
ul,
li {
  list-style: none;
}
ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
li {
  width: 360px;
  height: 40px;
  font-size: 20px;
  background-color: #eee;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: sans-serif;
}
button {
  cursor: pointer;
}
button:nth-child(1) {
  margin-left: auto;
  margin-right: 10px;
}
.clearAll {
  width: 360px;
  height: 40px;
  background-color: #eee;
  border: none;
}
.clearAll:hover {
  animation: anim 1s alternate ease-in;
  transition: 1.5s;
}
@keyframes anim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
